thead,tfoot
{
background-color:blue;
color:white;
}
tbody tr:nth-child(2n+1)
{
background-color:whitesmoke
}
tbody tr:nth-child(2n) {
background-color: pink
}
tbody tr:hover
{
background-color:yellow;
cursor:pointer
}
th, td {
    width: 200px;
}

th:first-child, td:first-child {
    width: 100px; /* Độ rộng cho cột đầu tiên */
}