body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.kick-image {
    height: 200px;
}

.highlight {
    color: #ccbb55;
    font-weight: bold;
}

.content {
    margin-top: 20px;
    font-size: 1.1em;
    line-height: 1.6;
    overflow: hidden; 
}

.info-box {
    background-color: #ccbb55;
    color: black;
    padding: 15px;
    width: 40%;
    margin-top: 20px;
    float: right;
    margin-right: 20px; 
}


.footer {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
}
